# Banco de dados local (Docker)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=booster_db

# JWT
JWT_SECRET=sua_chave_secreta_aqui

# URL do frontend (para CORS)
FRONTEND_URL=http://localhost:5173

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Ambiente
NODE_ENV=development
PORT=3000

GOOGLE_GENAI_API_KEY=
