name: Deploy Frontend to Firebase

on:
  push:
    branches:
      - main
    paths:
      - "frontend-booster/**"
      - ".github/workflows/deploy-frontend.yml"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "frontend-booster/package-lock.json"

      - name: Install dependencies
        working-directory: ./frontend-booster
        run: npm ci

      - name: Build
        working-directory: ./frontend-booster
        # A MUDANÇA É AQUI: Definimos as variáveis para o processo de Build
        env:
          VITE_API_URL: https://backend-booster-1012930723332.southamerica-east1.run.app
          VITE_SUPABASE_URL: https://kwefarwjthmxffmoymty.supabase.co
          VITE_SUPABASE_ANON_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3ZWZhcndqdGhteGZmbW95bXR5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3Mzk3ODEsImV4cCI6MjA3NzMxNTc4MX0.jjm-a_1Bz2QWKUZwufJpaDe14MnPqWiDzW_ioAhBjTo
        run: npm run build

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          channelId: live
          projectId: ${{ secrets.FIREBASE_PROJECT_ID }}
          entryPoint: ./frontend-booster
